#landingP {
    background-image: url("images/proj2.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: whitesmoke;
    padding-top: 20%;
    padding-bottom: 7%;
}
.logo {
    width: 80px;
    height: 80px;
    margin-top: 8px;
    margin-bottom: 5px;
}
#landing h1 {
    padding: 30px;
}
#landing p {
    padding: 5px;
}
.mouse {
    margin-top: 10%;
}
#about-us {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
#service {
    background-image: url("images/s_image.jpg");
    background-size: cover;
    background-position: center center;
    color: whitesmoke;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 6%;
    font-size: 17px;
}
#what-we-do {
    text-align: center;
    padding-top: 20px;
}
.action {
    display: flex;
    flex-direction: row;
    padding-left: 15%;
}
#head2 {
    text-align: center;
    padding-top: 10px;
}
.head1 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 25px;
}
.design, .dev, .product {
    display: none;
}
#portfolio {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.cover1, .cover2, .cover3, .cover4, .cover5, .cover6, .cover7, .cover8 {
    display: none;
    left:30px;
    position: absolute;
    height: 66%;
    width: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.57);
    top: 10px;
    cursor: pointer;
    margin: 10% 5%;
    line-height: 100%;
    border: 4px solid whitesmoke;
    padding-top: 30px;
    font-size: 20px;
}
#work1, #work2, #work3 ,#work4, #work5, #work6, #work7, #work8 {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.col-md-3 img {
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
}
#contact {
    background-image: url("images/Pro1.jpg");
    background-position: center center;
    background-size: cover;
    color: whitesmoke;
    border: white;
    border-color: white;
}
.head3 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#contact input {
    background: transparent;
    color: white;
    padding: 5px;

}
#contact textarea {
    
    background: transparent;
}
#Name {
    width: 35%;
    margin-left: 18%;
    padding-bottom: 40px;
}
#Email {
    width: 35%;
    margin-right: 10%;
    padding-left: 20px;
}
#comment {
    width: 60%;
    margin-left: 20%;
    color: white;
}
::placeholder {
    color: white;
}
.button {
    text-align: center;
    width: 10%;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    padding-top: 2px;
    padding-bottom: 5px;
}
footer {
    text-align: center;
    padding-top: 4px;
}